@import url("./rose-pine-waybar/rose-pine-moon.css");

* {
  font-family: "Maple Mono NF";
  font-size: 10px;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  background-color: @surface;
}

#workspaces button {
  color: @iris;
}

#workspaces button.active {
  color: @foam;
}

#workspaces button:hover {
  color: @pine;
}

button {
  background: transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#language,
#cava,
#custom-power {
  background-color: @surface;
  padding: 0.5rem 1rem;
}

#clock {
  color: @foam;
}

#battery {
  color: @pine;
}

#battery.charging {
  color: @pine;
}

#battery.warning:not(.charging) {
  color: @love;
}

#backlight {
  color: @gold;
}

#backlight,
#battery {
}

#pulseaudio {
  color: @rose;
}


#language {
  color: @iris;
}

#custom-power {
  color: @love;
}

#workspaces button.urgent {
  color: @love;
}