@import url("./rose-pine-waybar/rose-pine-moon.css");

* {
  border: none;
  border-radius: 8px;
  font-family: "Maple Mono NF";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @text;
}

window#waybar > box {
    margin: 5px 6px 0;
    border-radius: 10px;
}

tooltip {
  background: @base;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @subtle;
  background: @love;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
}

#workspaces button:hover {
  background: @highlightLow;
  color: @text;
}

#custom-power_profile,
#window,
#custom-jdate,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#language,
#backlight {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 0px 0px;
  border: 1px solid @pine;
}

#custom-jdate {
    margin-right: 5px;
}

#backlight {
  margin-left: 5px;
}

#bluetooth {
  margin-left: 5px;
}

#network {
  margin-left: 5px;
}

#memory {
  color: #3e8fb0;
  margin-left: 5px;
}

#temperature {
  color: @gold;
  margin-left: 5px;
  border-left: 0px;
  border-right: 0px;
}

#temperature.critical {
  border-left: 0px;
  border-right: 0px;
  color: @love;
}

#backlight {
  color: @text;
}

#tray {
  margin-right: 5px;
}

#workspaces {
  background: @base;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}
#language {
}

#custom-power_profile {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
  margin-left: 5px;
}

#window {
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#custom-jdate {
  color: @text;
  background: @pine;
}

#network {
  color: @love;
  border-right: 0px;
}

#pulseaudio {
  color: @iris;
  border-right: 0px;
  margin-left: 5px;
}

#battery {
  color: @foam;
  border-right: 0px;
  margin-left: 5px;
}

#memory {
  color: @foam;
  border-right: 0px;
}
